body {

  font-family: sans-serif;
  
}
img {
	width:200px;
	height:200px;
	padding:20px;
}
.albumWrap{
	display: flex;
	flex-wrap: wrap;
	width:900px;
	margin:auto;

}
.albumNav{
	text-align: center;
}
.albumIndi{
	margin: auto;
}
p {
	text-align: center;
}

.photos {
	display: flex;
	text-align: center;
	width:1000px;
}
.nav {
	width:1000px;
	display: flex;
	justify-content: space-between;
}
.mainContain{
	margin:auto;
	width:1000px;
}
.fullWrap{
	width:1000px;
	margin:auto;
	
}
.header{
	text-align: center;
}
.photoIndi{
	margin: auto;
}