body {

  font-family: sans-serif;
  
}
img {
	width:250px;
	height:250px;
	padding:20px;
}
.albumWrap{
	display: flex;
	flex-wrap: wrap;
	width:1000px;
	margin:auto;
	border:1px solid black;

}
.albumNav{
	text-align: center;
}
.albumIndi{
	margin: auto;
}
p {
	text-align: center;
}

.photos {
	display: flex;
	text-align: center;
	width:1000px;
	
}
.nav {
	width:1000px;
	display: flex;
	justify-content: space-between;
}
.mainContain{
	margin:auto;
	width:1000px;
}
.fullWrap{
	width:1000px;
	margin:auto;
	
}
.header{
	text-align: center;
}
.photoIndi{
	margin: auto;
}
#singlePhoto{
	width:600px;
	height:600px;
}
#singleAlbum{
	width:300px;
	height:300px;
}
.photoWrap{
	width:600px;
	margin: auto;
	text-align: center;
}
